

h1{

    font-size: 1em
}

body {

    background-color: white;
}




#forside .sectionwrapper {


    flex-wrap: wrap;

    padding: 1em;

}

#forside .column {

    flex-grow: 10;
    flex-basis: 300px;
    display: flex;

    justify-content: space-between;
    margin: 1em;
    border: 1em;
    width: 10em;
    height: 5em;
    background-color: white;

}


#forside .kunst {

/*
    background-image: url(Artboard%206.svg);
    height: 220px;
    background-repeat: no-repeat;
    background-color: rgba(130, 117, 131, 0.75);
    background-blend-mode: soft-light;
    position: relative;
*/



    background-image: url(Artboard%204.png);
    width: 100rem;
    height: 100rem;
    background-repeat: no-repeat;

    top: -6em;
    ;
    right: +1.5em;
    z-index: 1;
    width: 100%;
position: absolute;



}

#forside .billede {



/*    justify-content: space-between;*/
    width: 4000em;
    height: 30em;
    z-index: 2;
    top: -10em;
    right: 100em;


    background-color: #827483;
    filter: opacity(80%);
    position: absolute;


}

#forside .simon {
    background-image: url(Artboard%201.png);
    width: 10rem;
    height: 8rem;
    background-repeat: no-repeat;
    position: absolute;
    top: 5em;
    ;
    left: 1em;
    background-size: 80%;
    z-index: 3;

}


#forside .tekst {

    position: absolute;
    color: white;
    left: 15em;
    top: 11em;
    font-size: 0.6em;
    z-index: 3;
}

#forside .box1 {
    flex-grow: 10;
    flex-basis: 10px;
    display: flex;
    position: absolute;
    top: 15em;

    border: 3em;
    width: 17em;
    height: 8em;
    background-color: #FFB4A8;
    border-radius: 8px;
    z-index: 3;


}

#forside .box2 {
    flex-grow: 10;
    flex-basis: 10px;
    display: flex;
    position: absolute;
    top: 25em;

    border: 3em;
    width: 17em;
    height: 8em;
    background-color: #FFB4A8;
    border-radius: 8px;
    z-index: 3;



}

#forside .box3 {
  flex-grow: 10;
    flex-basis: 10px;
    display: flex;
    background-color: #FFB4A8;
    position: absolute;
    top: 35em;

    border: 3em;
    width: 17em;
    height: 8em;
    background-color: #FFB4A8;
    border-radius: 8px;
    z-index: 3;
}
