.max400 {
    max-width: 400px;
    position: absolute;
}



.forside {}

.kunst {

    opacity: 0.3;
    width: 56vw;
    height: 30vw;
    background-size: 100%;
    top: 2vw;
    left: 2vw;
    position: relative;

}

.baggrund {}

.simon {

    width: 15vw;
    height: 15vw;
    background-size: 50%;
    top: 40vw;
    left: 2vw;
    position: relative;


}
