header {
    position: fixed;
    background-color: #6C586B;
    width: 100%;
}

header nav {
    display: flex;
    flex-direction: row;
    text-align: right;
    margin: 1rem;
}


#projekt {
    background-color: #FEB0A6;
    color: white;
    height: 10em;
<<<<<<< HEAD
    width: 25em;

=======
    width: 25em;

>>>>>>> NyFronter/master
    top: 10vw;
}

#lektier {
    background-color: #FEB0A6;
    color: white;
    height: 10em;
<<<<<<< HEAD
    width: 25em;

=======
    width: 25em;

>>>>>>> NyFronter/master
    top: 10vw;
}

#dokumenter {
    background-color: #FEB0A6;
    color: white;
    height: 10em;
<<<<<<< HEAD
    width: 25em;

=======
    width: 25em;

>>>>>>> NyFronter/master
    top: 10vw;
}

#streg {
background-color: #6C586B;
height: 10em;
<<<<<<< HEAD
width: 2em;
}
=======
width: 2em;
}
>>>>>>> NyFronter/master
