.max400 {
    max-width: 400px;
    background-color: indianred;
    display: flex;
    flex-direction: column;
    position: absolute;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    color: #c1c1c1;
    font-size: 12px;
}

.burger {
    background-image: url(Artboard%20%E2%80%93%204.svg);
    z-index: 1;
}

.notifications {
    background-image: url(Artboard%20%E2%80%93%205.svg)
}

.profile {
    background-image: url(Artboard%20%E2%80%93%206.svg)
}

.search {
    background-image: url(Artboard%20%E2%80%93%203.svg)
}

.maaned {
    padding-left: 30px;
    position: relative;
}

.forlob {
    text-align: center;
}

.modul1 {
    top: 200px;
    left: 200px;
}

.solid {
    border-style: solid;
}
